<h1><%= @section.name %></h1>
<p><b> Vegan Options Available? </b><%= @section.vegan_options %></p>
<p><b> Labor Intensity Required: </b><%= @section.labor_intensity %></p>
<p><b> Items in Section: </b><%= @count %></p>

