<div id="top-of-page">
<a href="/items">See All Items</a>&emsp;<a href="/sections">See All Menu Sections</a>
</div>

<h1>Menu Items</h1>
<% @items.each do |item| %>
    <h3><%= item.name %></h3>
    <p>Menu Section: <%= item.section.name %></p>
    <p>Needs Restock: <%= item.need_restock %></p>
    <p>Price: <%= number_to_currency(item.price) %></p>
<% end %>
