<h1><%= @section.name %></h1>
<% @items.each do |item| %>
    <h4><%= item.name %></h4>
    <p>Restock Needed: <%= item.need_restock %></p>
    <p>Price: <%= number_to_currency(item.price) %></p>
<% end %>